# Auxiliares para TEX-

In [1]:
## Imports

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import psycopg2
import numpy as np
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score


from utils import read_table_into_dataframe
from utils import create_table_pdf
from utils import  dataframe_to_latex
from utils import dataframe_to_image

In [20]:
# proyecciones- Datasetc EXTENDIDO _V4.csv
df_base = pd.read_csv('C:/Users/Fer/ITBA_TFI/datasets/ext_LR.csv',sep=',', header='infer')
#Display the first few rows of the DataFrame
df_base=df_base.rename(columns={'anio':'ano','nam':'Departamento'})
## drop colum,ns
df_base=df_base.drop(columns=['Pred_LR','MAPE_LR'])
df_base = df_base[df_base['ano'].isin([1991, 2001, 2010])]
df_base=df_base.sort_values(by=['Departamento','ano'])
df_base.head(12)

,Departamento,cod_depto,ano,pob,var,muj,vivpart,vivtotal,sup,ind_masc,dens_pob,TMI,TGF,TBN,TBM,TCV,Mat1ria
0,Almirante Brown,6028,1991,450698.0,222042.0,228656.0,NaN,NaN,157.87,97.1,2854.87,24.2,2.6,18.4,7.9,10.5,1752994.0
3,Almirante Brown,6028,2001,515556.0,252454.0,263102.0,143543.0,88.0,157.87,96.0,3265.70,15.0,2.3,16.9,8.2,8.7,1658221.0
1,Almirante Brown,6028,2010,552902.0,270247.0,282655.0,156218.0,78.0,157.87,95.6,3502.26,12.0,2.5,18.9,8.4,10.5,1667278.0
5,Avellaneda,6035,1991,344991.0,164243.0,180748.0,NaN,NaN,68.54,90.9,5033.43,24.2,2.6,18.4,7.9,10.5,1752994.0
4,Avellaneda,6035,2001,328980.0,155450.0,173530.0,117200.0,59.0,68.54,89.6,4799.82,15.0,2.3,16.9,8.2,8.7,1658221.0
6,Avellaneda,6035,2010,342677.0,162264.0,180413.0,121307.0,68.0,68.54,89.9,4999.66,12.0,2.5,18.9,8.4,10.5,1667278.0
11,Berazategui,6091,1991,244929.0,120870.0,124059.0,NaN,NaN,268.91,97.4,910.82,24.2,2.6,18.4,7.9,10.5,1752994.0
10,Berazategui,6091,2001,287913.0,141163.0,146750.0,81511.0,38.0,268.91,96.2,1070.67,15.0,2.3,16.9,8.2,8.7,1658221.0
8,Berazategui,6091,2010,324244.0,158608.0,165636.0,96029.0,37.0,268.91,95.8,1205.77,12.0,2.5,18.9,8.4,10.5,1667278.0
15,Esteban Echeverría,6260,1991,275793.0,136784.0,139009.0,NaN,NaN,148.12,98.4,1861.96,24.2,2.6,18.4,7.9,10.5,1752994.0
14,Esteban Echeverría,6260,2001,243974.0,120110.0,123864.0,70535.0,26.0,148.12,97.0,1647.14,15.0,2.3,16.9,8.2,8.7,1658221.0
13,Esteban Echeverría,6260,2010,300959.0,147980.0,152979.0,88164.0,26.0,148.12,96.7,2031.86,12.0,2.5,18.9,8.4,10.5,1667278.0

#### Export latex

In [22]:
dataframe_to_latex(df_base.head(12),'baseModelos.tex')